body {
	background-color: #000000;
	color: #00ff9f;
	font-family: 'Orbitron', sans-serif;
	margin: 0;
	padding: 0;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(120deg, #0d028a, #000004);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

.app-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.title h1 {
	font-family: 'Chillax', sans-serif;
	font-size: 4rem;
	color: #ffffff;
	margin-bottom: 2rem;
	z-index: 1;
}

.form-create-song {
	padding: 2rem;
	border-radius: 10px;
	z-index: 1;
}
.form-create-song input {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #ffffff;
	background-color: #ff00bb00;
	border: none;
	border-bottom: 1px solid #ffffff;
	border-radius: 5px 5px 0 0;
	padding: 5px 15px;
	margin: 5px;
	width: 120px;
	outline: none;
}

.form-create-song input::placeholder {
	color: #ffffffc5;
}

.form-create-song input[type='submit']:hover {
	background-color: #1705bd;
}

.form-create-song input[type='submit'] {
	background-color: #1900ff88;
	color: white;
	padding: 5px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.list-songs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	gap: 30px; /* Espacio entre las tarjetas */
}

.songs-app {
	margin: 20px;
}
